#red {
width: 300px;
border: 1px solid red;
}

#green {
height: 100px;
width: 100px;
border: 1px solid green;
margin: 10px auto
}

div {
width: 300px;
text-align: justify;
padding: 30px;
border: 2px red solid
}