.bg {
width: 100%;
height: 100%;
background:black url('4.jpg') left top no-repeat;
}


div.txtclr {
width: 500px;
height: 100%;
text-align: justify;
font-size:20px;
color: white;

}

h1{
color:white;
text-align: center}