div.big {
border: 1px solid black;
margin: 5px 30.5%}

h1 {
text-align: center;
margin-block-start: 0;
}

h2 {
text-align: center;
color: deeppink}

.text {
text-indent: 50px;
text-align: justify;
margin: 20px 15px;
font: 13px/27px Arial;
}

span {
color: green}

.more {
text-align: right
}

h2 a:link, h2 a:visited {
 text-decoration: none;
 color: deeppink}

h2 a:hover {
text-decoration: underline;
color: black;
}

a:link.intxt, a:visited.intxt {
color: green;
text-decoration: none;
font-weight: bold;
}

a:hover.intxt {
color: crimson;
text-decoration: underline;
font-weight: bold;}

.more {
margin: 0px 40px;
text-align:right}

.more a {
font: 13px Arial;
font-weight: bold;
display: inline-block;
padding: 5px 10px;
border:1px solid white;
border-radius: 5px
}

.more a:link, .more a:visited {
text-decoration: none;
color:deeppink}

.more a:hover {
color: white;
background-color: deeppink;
}