/* Задача 1 */
.f {
color: blue;
list-style-position: inside}

.f a:link, .f a:visited {
    color:blue;
    text-decoration: none;
}

.f a:hover {
color:orangered;
text-decoration: underline;
}
/* Задача 2 */
.s {
    color: blue;
    list-style-type: none;
    }

.s li {
    border: blue 1px solid;
    width: 200px;
    height: 30px;
    margin: 5px;
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
}

.s a:link, .s a:visited {
    color:blue;
    text-decoration: none;
}

.s a:hover {
    font-weight: bold;
    }

/* Задача 3 */
.t {
    color: white;
    list-style-type: none;
    }

.t li {
    border: black 1px solid;
    background-color: gray;
    width: 200px;
    height: 30px;
    margin: 5px;
    box-sizing: border-box;
    font-family: Arial;
    display: block;
        }


.t a:link, .t a:visited {
    height: 100%;
    width: 100%;
    color:white;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    padding: 5px 0px 2px 5px;
    }

.t a:hover {
    background-color: white;
    font-weight:normal;
    color: black;
    display: block;
    padding: 5px 0px 2px 5px;


    }